.body_backgorund {
    background-image: url("https://koenig-media.raywenderlich.com/uploads/2020/05/CustomPainter-feature.png");
    background-position: center;
    background-size: cover;
  }
  body{
    cursor: pointer;
  }
  h1
  {
      color: red; 
      font-size: 40px;
  }
  #myCanvas
  {
      border-width:10px;
      background-color: white; 
      border-style:ridge;
  }

